<template>
  <b v-if="state.gameOver">Game Over</b>
  <Timer :end="state.details.started_at" v-if="notStarted" />
  <div v-else-if="hasStarted">
    <component v-if="move" :is="move.component" :move="move"></component>
    <div v-else>No moves left. Game is over.</div>
  </div>
  <GetReady v-else />
</template>

<script>
import { store } from '@/store.js'
import Grid from './Grid.vue'
import Type from './Type.vue'
import Image from './Image.vue'
import GetReady from './GetReady.vue'
import Timer from './Timer.vue'

export default {
  name: 'GameBoard',
  components: {
    Grid,
    Type,
    Image,
    GetReady,
    Timer,
  },
  data() {
    return {
      state: store.state,
    }
  },
  computed: {
    move() {
      return this.state.moves[this.state.serial_no]
    },
    hasStarted() {
      const started_at = this.state.details.started_at
      return started_at && started_at <= this.state.currentTime
    },
    notStarted() {
      const started_at = this.state.details.started_at
      return started_at && started_at > this.state.currentTime
    }
  }
  // {
  //   "session_id": "fd534040-ad22-47a4-b857-58d38a7fb0c1",
  //   "username": "test",
  //   "blocked": false,
  //   "time_limit": "01:00:00",
  //   "user_limit": 1,
  //   "started_at": null,
  //   "cancelled": false,
  //   "rows": 50,
  //   "cols": 50,
  //   "max_words": 100,
  //   "max_chars": 1500,
  //   "max_img": 15,
  //   "total_moves": 50,
  //   "time_limit_error": "00:00:00.300"
  // }
}
</script>
