<template>
  <div v-if="!loading">
    <h3 style="margin-bottom: 0">Players</h3>
    <div style="margin: 20px 0">
      <div
        v-for="ready, user in users"
        class="user"
        :style="{opacity: ready ? 1 : 0.7}"
        :key="user"
      >
        <b>{{ user }}</b>&nbsp; is{{ ready ? '' : ' not'}} ready
      </div>
    </div>
    <div class="ready-btn" v-if="users[username] === false" @click="ready">I am ready</div>
  </div>
  <div v-else>Loading...</div>
</template>

<script>
import { store } from '@/store.js'

export default {
  name: 'GetReady',
  data() {
    return {
      users: {},
      updateUsersTimer: null,
      loading: true,
    }
  },
  created() {
    this.updateUsersTimer = setInterval(function(self) {
      store.fetch('/users/ready/')
        .then(res => res.json())
        .then(res => {
          self.users = res.users
          self.loading = false
          if (res.started_at) {
            store.state.details.started_at = new Date(res.started_at)
            store.setMoves()
            store.setNextMove()
          }
        })
    }, 900 + parseInt(Math.random() * 100), this)
  },
  beforeUnmount() {
    clearInterval(this.updateUsersTimer)
    this.updateUsersTime = null
  },
  computed: {
    username() {
      return store.state.details.username
    }
  },
  methods: {
    ready(event) {
      event.target.style.backgroundColor = 'red'
      event.target.style.color = 'white'
      store.fetch('/user/ready/')
        .then(res => res.json())
        .then(() => this.users[this.username] = true)
    }
  }
}
</script>

<style scoped>
.user {
  margin: 5px;
  height: 50px;
  width: 150px;
  line-height: 50px;
  border-radius: 5px;
  background: #aaf;
}
.ready-btn {
  margin: -10px;
  margin-top: 0;
  height: 30px;
  line-height: 30px;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid red;
  cursor: pointer;
}
.ready-btn:hover {
  color: white;
  background: #ff7575;
}
</style>
