<template>
  <div>Position: {{ currentRow }}, {{ currentCol }}</div>
  <div class="test">
    <div
      v-for="pos in RowsCols"
      :data-row="pos.row"
      :data-col="pos.col"
      :style="getStyle(pos)"
      :key="pos.row * pos.col"
      :class="{
        flashing: animated[pos.row - 1][pos.col - 1],
        click:
          coordinates[currentIndex][0] === pos.row &&
          coordinates[currentIndex][1] === pos.col,
      }"
      @animationend="animated[pos.row - 1][pos.col - 1] = false"
      @click="gridClick"
      @mouseover="gridHover"
    />
  </div>
</template>


<script>
import { store } from "@/store.js";

export default {
  name: "Grid",
  props: ["move"],
  data() {
    const { rows, cols } = store.state.details;
    return {
      animated: Array(rows)
        .fill([])
        .map(() => Array(cols).fill(false)),
      currentRow: null,
      currentCol: null,
      coordinates: this.move.value
        .split(";")
        .map((x) => x.split(",").map((y) => parseInt(y))),
      currentIndex: 0,
      userMoves: [],
      timeoutId: null,
    };
  },
  created() {
    this.setTimeout();
  },
  methods: {
    incrementIndex() {
      if (this.timeoutId) {
        clearTimeout(this.timeoutId);
      }
      if (this.currentIndex < this.coordinates.length - 1) {
        this.currentIndex++;
        this.setTimeout();
      } else {
        this.timeoutId = null;
        store.setNextMove(
          this.move.serial_no,
          this.userMoves.map((x) => x.join(",")).join(";")
        );
      }
    },
    setTimeout() {
      this.timeoutId = setTimeout(
        this.incrementIndex,
        this.time_limit_per_click
      );
    },
    getStyle(pos) {
      return {
        gridRow: pos.row,
        gridColumn: pos.col,
      };
    },
    gridClick(event) {
      let { row, col } = event.target.dataset;
      row = parseInt(row);
      col = parseInt(col);
      this.animated[row - 1][col - 1] = true;
      this.userMoves.push([row, col]);
      this.incrementIndex();
    },
    gridHover(event) {
      const { row, col } = event.target.dataset;
      this.currentRow = row;
      this.currentCol = col;
    },
  },
  computed: {
    time_limit() {
      const [hours, minutes, seconds] = this.move.time_limit
        .split(":")
        .map(Number);
      return (hours * 3600 + minutes * 60 + seconds) * 1000;
    },
    time_limit_per_click() {
      return this.time_limit / this.coordinates.length;
    },
    RowsCols() {
      const { rows, cols } = store.state.details;
      if (!(rows && cols)) {
        return [];
      }
      const arr = [];
      for (let i = 0; i < rows; i++) {
        for (let j = 0; j < cols; j++) {
          arr.push({ row: i + 1, col: j + 1 });
        }
      }
      return arr;
    },
  },
};
</script>


<style scoped>
.test {
  display: grid;
  grid-gap: 1px;
}

.test > div {
  width: 17px;
  height: 17px;
  outline: 1px solid;
}

.test > div:hover {
  background-color: cyan;
}

.test > .col1 {
  grid-row: 2;
}

.click {
  background-color: darkorange;
}

.flashing {
  animation: flash 0.7s;
}

@keyframes flash {
  0% {
    background-color: none;
  }
  50% {
    background-color: blue;
    box-shadow: 2px 2px black;
  }
  100% {
    background-color: none;
  }
}
</style>
