<template>
  <div>
    <h3>Join game</h3>
    <input
      ref="session"
      placeholder="Session id"
      @keyup.enter="setSession"
      v-model="id" />
    <button @click="setSession">Next</button>
    <div class="error" v-if='state.message'>{{ state.message }}</div>
  </div>
</template>

<script>
import { store } from '@/store.js'

export default {
  name: 'InitiateSession',
  data() {
    return {
      id: '',
      state: store.state,
    }
  },
  mounted() {
    this.$refs.session.focus()
  },
  methods: {
    setSession() {
      store.setSession(this.id)
    }
  }
}
</script>
