<template>
  <div>
    {{ seconds_left }}
  </div>
</template>

<script>
import { store } from '@/store.js'

export default {
  name: 'Timer',
  props: {
    end: Date,
    seconds: Number,
  },
  data() {
    let end_time = new Date(this.end)
    if (!this.end && this.seconds) {
      end_time = new Date()
      end_time.setSeconds(end_time.getSeconds() + this.seconds)
    }
    return {
      endTime: end_time,
    }
  },
  computed: {
    seconds_left() {
      return parseInt((this.endTime - store.state.currentTime) / 1000)
    }
  }
}
</script>
