<template>
  <h3>
    <span>{{ seconds }}s</span>
    <span>Type</span>
    <span>{{ time_limit }}s</span>
  </h3>
  <div>
    <label style="display: block" for="userInput">{{ text }}</label>
    <textarea
      ref="userInput"
      id="userInput"
      cols="50"
      rows="8"
      v-model="userInput"
      @keyup.ctrl.enter="send"
    ></textarea>
  </div>
  <button @click="send">Done</button>
</template>


<script>
import { store } from "@/store.js";

export default {
  name: "Type",
  props: ["move"],
  data() {
    return {
      userInput: "",
    };
  },
  mounted() {
    this.$refs.userInput.focus();
  },
  methods: {
    send() {
      store.setNextMove(this.move.serial_no, this.userInput);
    },
  },
  computed: {
    time_limit() {
      const [h, m, s] = this.move.time_limit.split(":").map(Number);
      return h * 3600 + m * 60 + s;
    },
    seconds() {
      return parseInt((this.move.endTime - store.state.currentTime) / 1000);
    },
    correct() {
      return this.move.value === this.userInput;
    },
    text() {
      return this.move.value;
    },
  },
};
</script>


<style scoped>
h3 {
  display: flex;
  justify-content: space-between;
}
h3 > span {
  width: 110px;
}
#userInput {
  padding: 7px;
  margin: 10px;
}
</style>
