<template>
  <div>
    <h3>Enter user</h3>
    <input
      ref="username"
      placeholder="Username"
      @keyup.enter="setUser"
      v-model="username" />
    <button @click="setUser">Next</button>
    <div class="error" v-if='state.message'>{{ state.message }}</div>
  </div>
</template>

<script>
import { store } from '@/store.js'

export default {
  name: 'User',
  data() {
    return {
      username: '',
      state: store.state,
    }
  },
  mounted() {
    this.$refs.username.focus()
  },
  methods: {
    setUser() {
      store.setUser(this.username)
    }
  }
}
</script>
