<template>
  <div class="flex-container">
    <div v-if="state.show === 'loading'">Loading...</div>
    <InitiateSession v-else-if="state.show === 'start'" />
    <GameBoard v-else-if="state.show === 'game'" />
    <User v-else-if="state.show === 'user'" />
  </div>
</template>

<script>
import { store } from "@/store.js";
import GameBoard from "./components/GameBoard.vue";
import User from "./components/User.vue";
import InitiateSession from "./components/InitiateSession.vue";

export default {
  name: "App",
  components: {
    GameBoard,
    User,
    InitiateSession,
  },
  data() {
    return {
      state: store.state,
      updateCurrentTime: null,
    };
  },
  created() {
    store.getDetails();
    this.updateCurrentTime = setInterval(
      function (self) {
        const state = self.state;
        const endTime = store.endTime;
        state.currentTime = new Date();
        if (endTime && state.currentTime > endTime) {
          state.gameOver = true;
        }
      },
      180,
      this
    );
  },
  beforeUnmount() {
    clearInterval(this.updateCurrentTime);
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #89c9ff;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
}
.flex-container {
  width: auto;
  background-color: #fafaff;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 5px 5px 5px #66a;
}
.error {
  background-color: #eaa;
  color: #f00;
  border-radius: 3px;
  border: 1px solid red;
  margin: 5px;
  padding: 5px;
  order: 1;
  flex: 0 1 auto;
  align-self: auto;
  justify-content: center;
  min-width: 0;
  min-height: auto;
  display: flex; /* NEW */
  align-items: center; /* NEW */
}
</style>
